
section.banner {
  background-color: white;
  background-image: url('/images/atlanta-skyline.jpg');
  background-size: 1420px 600px;
  overflow: auto;
  height: 500px;

  header {
    @include centerPage;

    nav {
      display: block;
      li {
        margin: 0 5px;
      }
      
      ul.social {
        float: right;
        
        li {
          padding: 2px 0px;
          float: left;
          
          img {
            width: 40px;
            
            &:hover {
              background-color: white;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .welcome-container {
    display: inline-block;
    @include centerPage;
    margin: 0px auto;
    padding: 10%;

    
    img {
      display: inline-block;
      width: 350px;
      margin: 0 auto;
    }
  }
}
