
section.banner {
  background-color: white;
  @include chalkboard;

  header {
    @include centerPage;
    nav {
      li {
        margin: 0 5px;
      }
      ul.nav {
        float: left;
        li {
          float: left;
        }
      }
      ul.social {
        float: right;
        li {
          padding: 2px 0px;
          float: left;
          img {
            width: 20px;
            &:hover {
              background-color: white;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .welcome-container {
      display: block;
      width: 75%;
      margin: 0px auto;
      padding: 0;
      h2 {
        font-size: 2em;
        margin: 0px auto;
      }
      img {
        display: block;
        width: 350px;
        margin: 0px auto;
        padding: 0;
      }
    }

    section.menu {
      @include outer-container;
      text-align: center;



      ul {
        margin: 2% 0;
      }

      .breakfast{
        @include span-columns(6 of 12);
        color: $cBlue;
        h4 {
          font-size: 2.5em;
        }
        ul {
          min-width: 400px;
          margin: 0 auto;
          li {
            font-size: 1.5em;
          }
        }
      }

      .sandwiches {
        @include span-columns(6 of 12);
        @include omega();  
        display: inline-block;  
        color: $cYellow;
        h4 {
          font-size: 2.5em;
        }
        li {
          font-size: 1.5em;
        }
      }

      .salads {
        @include span-columns(6 of 12);
        color: $cGreen;
        h4 {
          font-size: 2.5em;
        }
        li {
          font-size: 1.5em;
        }
      }

      .soup {
        @include span-columns(6 of 12);
        @include omega();
        color: $cPink;
        ul {
          display: inline-block;
        }
        h4 {
          font-size: 2.5em;
        }
        li {
          font-size: 1.5em;
        }
      }

      .drinks {
        @include span-columns(6 of 12);
        color: $cBlue;
        h4 {
          font-size: 2.5em;
        }
        li {
          font-size: 1.5em;
        }
      }

      .toppings {
        @include span-columns(6 of 12);
        @include omega();
        color: $cYellow;
        h4 {
          font-size: 2.5em;
        }
        li {
          font-size: 1.5em;
        }
      }

      .desserts {
        @include span-columns(6 of 12);
        color: $cGreen;
        h4 {
          font-size: 2.5em;
        }
        li {
          font-size: 1.5em;
        }
      }

      .v-desserts {
        @include span-columns(6 of 12);
        @include omega();    
        color: $cPink;
        h4 {
          font-size: 2.5em;
        }
        li {
          font-size: 1.5em;
        }
      }
    }
  }



}