
section.blog {
  clear: both;
  overflow: scroll;
  border-bottom: 1px solid $cGrayC;
  margin-bottom: 30px;
  height: 300px;
  article {
    float: left;
    max-width: 50%;
    min-width: 300px;
    overflow: hidden;
    padding: 15px;
    font-size: 20px;
    a {
      color: $cBlue;
      &:hover {
        text-decoration: none;
        color: darken($cBlue, 25);
      }
      &:focus {
        text-decoration: none;
        color: darken($cBlue, 35);
      }
    }
  }
}


