
section.contact {
  height: 600px;
  background-color: white;
  width: 960px;
}
.leftcol {
  @include span-columns(4);
  height: 600px;
  font-size: medium;
 }
 li {
   list-style:none;    
   overflow:hidden;
   padding:5px 0;
   position:relative;

}
li label{
   float:left;
   padding-right:10px

  }



 li span {
     float:right;
     padding-left:10px;
     }
     
.dottedbg {
   border-top:dotted 2px #ccc;
   position:absolute;   
   top:15px;
   left:0;
   width:100%;
   z-index:-1;
}





  

.rightcol {
  float: right;
  @include span-columns(8);
  height: 600px;
}

