html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  color: $cGray3;
  //Spencer added 1/28/15
  background-color: lightgray;
}

h1, h2, h3, h4, h5 {
  //Spencer added 1/28/15
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Rock Salt', cursive;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 5rem;
}

h4 {
  font-size: 3.5rem;
}

li {
  font-size: 2.5rem;
}

ul, li, p, span, a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*:before, *:after { box-sizing: inherit; }

ul { margin: 0; padding: 0; }

li { list-style: none; }

a {
  color: $cBlue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

small { font-size: 1.2rem; color: $cGray9; }

.error { color: red; }

