
section.reservations {
  padding: 30px;
  form {
    .prefix, input, textarea {
      font-family: Helvetica, Arial;
      font-size: 1.3rem;
    }
    input[type="submit"] {
      float: right;
    }
    .columns {
      padding: 0;
    }
    .confirm-reservation span {
      background-color: $cAlaydi;
      color: white;
      border: 1px solid black;
    }
  }
}

