
section.reservations {
  float: left;
  width: $flyoutWidth - $handleWidth;
  padding: 30px 0 20px 10px;
  form {
    .prefix, input, textarea, select {
      font-family: Helvetica, Arial;
      font-size: 1.3rem;
    }
    input[type="submit"] {
      float: right;
    }
    .columns {
      padding: 0;
    }
  }
}

