
section.reservations {
  float: left;
  width: $flyoutWidth - $handleWidth;
  padding: 20px 0 20px 10px;
  form {
    overflow: scroll;
    .prefix, input, textarea, select {
      font-family: Helvetica, Arial;
      font-size: 1.3rem;
    }
    input[type="submit"] {
      float: right;
    }
    .columns {
      padding: 0;
    }
    .confirm-reservation {
      text-align: right;
      margin-top: 15px;
    }
  }
}

