
section.blog {
  overflow: hidden;
  background-color: white;     // TEMPORARY?
  article {
    float: left;
    max-width: 50%;
    min-width: 300px;
    // height: 300px;
    overflow: hidden;
    padding: 15px;
    font-size: 20px;
    a:hover {
      text-decoration: none;
    }
  }
}


