
section.story {
  height: 300px;               // TEMPORARY?
  background-color: white;     // TEMPORARY?
  font-size: 20px;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
}

