
$pageWidth: 1000px;

$cAlaydi: #a33;
$cGray3: #333;
$cGray6: #666;
$cGray9: #999;
$cGrayC: #ccc;
$cGrayE: #eee;
$cYellow: #F3FFAC; //used for standard text
$cBlue: #7BDAF6;  //used for links
$cPink: #FFBFFB;

