
$pageWidth: 68em;
$mobileBreakPoint: 400px;

$flyoutHeight: 360px;
$flyoutWidth: 320px;
$handleWidth: 50px;
$hiddenWidth: $handleWidth - $flyoutWidth;

$cAlaydi: #a33;
$cGray3: #333;
$cGray6: #666;
$cGray9: #999;
$cGrayC: #ccc;
$cGrayE: #eee;
$cYellow: #F3FFAC; //used for standard text
$cBlue: #7BDAF6;  //used for links
$cPink: #FFBFFB;
$cGreen: #B4F1AC;

